<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Music Management</h3>
<p>
    <a th:href="@{/music/create}">
        Add new song
    </a>
</p>
<table id="musics">
    <thead>
    <tr>
        <th>Name</th>
        <th>Singer</th>
        <th>Music</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="musics : ${musics}">
        <td th:text="${musics.name}"></td>
        <td th:text="${musics.singer}"></td>
        <td>
            <audio controls>
                <source th:src="@{'/music/' + ${musics.link}}">
            </audio>
        </td>
        <td>
            <a th:href="@{/music/edit(id=${musics.id})}">EDIT</a>
            <a th:href="@{/music/delete(id=${musics.id})}">REMOVE</a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>