<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <style>
        p{
            font-weight: bolder;
        }
        span {
            font-weight: normal;
        }
    </style>
</head>
<body>
<h1>PRODUCT INFORMATION</h1>
<p>ID: <span th:text="${product.id}"></span></p>
<p>Name: <span th:text="${product.name}"></span></p>
<p>Price:<span th:text="${product.price}"></span></p>
<p>Description:<span th:text="${product.description}"></span></p>
<p>Manufacture:<span th:text="${product.manufacture}"></span></p>

<button onclick="location.href='/'" class="btn btn-primary">Back to home</button>
</body>
</html>