<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Customer</title>
    <th:block th:replace="~{/layout::cssbackground}"></th:block>
</head>
<body>
<div th:replace="~{/layout::header}"></div>
<nav th:replace="~{/layout::navbar}"></nav>


<div class="modal-content">

        <h5 class="modal-title text-center" id="exampleModalLabel">TẠO HỢP ĐỒNG</h5>


    <div class="modal-body container-fluid">
        <div class="container  mt-2 p-2 mb-2" style="border: 1px solid grey; border-radius: 15px">

            <form class="row" action="/contract/add" method="post" th:object="${contract}">
                <div class="col-md-12">
                    <label class="form-label">Ngày bắt đầu </label>
                    <input type="date" class="form-control" th:field="*{startDate}">
                </div>
                <div class="col-md-12">
                    <label for="endday" class="form-label">Ngày kết thúc </label>
                    <input type="date" class="form-control" id="endday" name="endday" th:field="*{endDate}">
                </div>

                <div class="col-md-12">
                    <label for="deposit" class="form-label">Tiền đặt cọc</label>
                    <input type="number" class="form-control" id="deposit" name="deposit" th:field="*{deposit}">
                </div>
                <div class="col-md-12">
                    <label for="total" class="form-label">Tổng tiền</label>
                    <input type="number" readonly class="form-control " id="total" name="total">
                </div>

                <div class="col-md-12">
                    <label class="form-label">Khách hàng</label>
                    <select name="customerName" class="form-select" th:field="*{customer}">
                        <option th:each="customer: ${customerList}" th:text="${customer.name}"
                                th:value="${customer.idCustomer}"></option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label class="form-label">Dịch vụ</label>
                    <select name="serviceName" class="form-select" th:field="*{facility}">
                        <option th:each="facility: ${facilityList}" th:text="${facility.serviceName}"
                                th:value="${facility.idFacility}"></option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label class="form-label">Nhân viên</label>
                    <select name="serviceName" class="form-select" th:field="*{employee}">
                        <option th:each="employee: ${employeeList}" th:text="${employee.name}"
                                th:value="${employee.idEmployee}"></option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label class="form-label">Dịch vụ đi kèm</label>
                    <button type="button" class="btn btn-primary mt-2 mb-2" onclick="showModalAddAttachFacility()">
                        +
                    </button>

<!--                    <table class="table table-striped" id="tableFacilityContract" style="display: none;">-->
<!--                        <tr>-->
<!--                            <th>Tên dịch vụ đi kèm</th>-->
<!--                            <th>Đơn vị</th>-->
<!--                            <th>Giá tiền</th>-->
<!--                            <th>Số lượng</th>-->
<!--                            <th>-->
<!--                                <button style="display: none" type="button" class="btn btn-danger"-->
<!--                                        data-bs-toggle="modal" data-bs-target="#" id="buttonHide"-->
<!--                                        onclick="hideAttachFacility()">-->
<!--                                    x-->
<!--                                </button>-->
<!--                            </th>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td><input type="checkbox"> Karaoke</td>-->
<!--                            <td>Giờ</td>-->
<!--                            <td>100000</td>-->
<!--                            <td><input style="width: 70px" type="number"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td><input type="checkbox"> Thuê xe máy</td>-->
<!--                            <td>Giờ</td>-->
<!--                            <td>100000</td>-->
<!--                            <td><input style="width: 70px" type="number"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td><input type="checkbox"> Thuê xe đạp</td>-->
<!--                            <td>Giờ</td>-->
<!--                            <td>100000</td>-->
<!--                            <td><input style="width: 70px" type="number"></td>-->
<!--                        </tr>-->

<!--                    </table>-->

                </div>
                <div class="col-12  mt-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" class="btn btn-warning">Tạo hợp đồng</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="attachFacility" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditLable">DANH SÁCH DỊCH VỤ ĐI KÈM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container-fluid">
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Tên dịch vụ đi kèm</th>
                        <th>Đơn vị</th>
                        <th>Giá tiền</th>
                        <th>Số lượng</th>
                    </tr>
                    <tbody id="attachBody">

                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="addContactDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">THÊM DỊCH VỤ ĐI KÈM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <table class="table table-striped">
                        <tr>
                            <th>Tên dịch vụ đi kèm</th>
                            <th>Đơn vị</th>
                            <th>Giá tiền</th>
                            <th>Số lượng</th>
                        </tr>
                        <tbody id="addAttachFacility">

                        </tbody>

                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary" onclick="getAttachFacilityObject()">Thêm</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    function displayAttachFacility() {
        document.getElementById("tableFacilityContract").style.display = 'block'
        document.getElementById("buttonHide").style.display = 'block'

    }

    function hideAttachFacility() {
        document.getElementById("tableFacilityContract").style.display = 'none'
        document.getElementById("buttonHide").style.display = 'none'

    }

    function showModalDetailAttach(a) {
        $('#attachFacility').modal('show')
        $.ajax({
            header: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            url: "http://localhost:8080/contract-rest?idc=" + a,
            success: function (resultSuccess) {
                let total = 0;
                console.log(resultSuccess)
                let htmlStr = '';
                if (resultSuccess[0].name != null)
                    for (let i = 0; i < resultSuccess.length; i++) {
                        total += resultSuccess[i].price * resultSuccess[i].quantity
                        htmlStr += `<tr>
                        <td>${i + 1}</td>
                        <td>${resultSuccess[i].name}</td>
                        <td>${resultSuccess[i].unit}</td>
                         <td>${resultSuccess[i].quantity}</td>
                         <td>${resultSuccess[i].price}</td></tr>`
                    }
                htmlStr += `<tr><td colspan="4">Tổng</td><td>${total}</td> </tr>`
                $('#attachBody').html(htmlStr)
            }
            ,
            error: function (resultError) {
                alert('error');
            }
        });
    }

    function showModalAddAttachFacility() {

        $('#addContactDetail').modal('show');
        $.ajax({
            header: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            url: "http://localhost:8080/AttachFacility",
            success: function (resultSuccess) {

                console.log(resultSuccess)
                let htmlStr = '';
                for (let i = 0; i < resultSuccess.length; i++) {
                    htmlStr += `
                  <tr>
                        <td><input type="checkbox" value="${resultSuccess[i].idAttachFacility}"> ${resultSuccess[i].nameAttachFacility}</td>
                        <td>${resultSuccess[i].unit}</td>
                        <td>${resultSuccess[i].price}</td>
                        <td>
                        <input type="number" class="${resultSuccess[i].idAttachFacility}" >
                        <input type="number" class="${resultSuccess[i].idAttachFacility}" value="${resultSuccess[i].idAttachFacility}" hidden>
                        </td>
                        </tr>`
                }

                $('#addAttachFacility').html(htmlStr)
            }
            ,
            error: function (resultError) {
                alert('error');
            }
        });
    }

    function getAttachFacilityObject() {
        let checkArr = []
        let object = [];
        let quantity
        let contractId
        let attachFacilityId
        $('#addAttachFacility input:checked').each(function () {
            checkArr.push(this.value)
        })
        for (var i = 0; i < checkArr.length; i++) {

            let valArr = $('.'+checkArr[i]).map(function () {
                return this.value
            }).get()
            for (var j = 0; j < valArr.length; j++) {
                quantity = valArr[0]
                contractId = valArr[1]
                attachFacilityId = valArr[2]
            }

            let a = {
                idContractDetail: null,
                quantity: quantity,
                contract: {
                    idContract: contractId
                },
                attachFacility: {
                    idAttachFacility: attachFacilityId
                }
            }
            object.push(a)
        }
        console.log(object)
        $.ajax({
            header: {
                'Accept': 'application/json',
            },
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify(object),
            url: "http://localhost:8080/contractDetail-rest/addCD",
            success: function (resultSuccess) {
                location.reload()
            }
            ,
            error: function (resultError) {
                alert('error');
            }
        });

    }

</script>


</body>
</html>